

html {
	background-image: url("mountain.png");
	background-repeat: no-repeat;
	background-size: cover;
     }

h1 {
	text-align: center;
	background-color: #deb887;
	font-family: 'Courier New', 'Lucida Console', monospace;	
	border: 2px dotted blue;
	padding: 10px 15px 10px 15px;
	width: 250px;
	margin-bottom: 20px; 	
		
    }

p {
	background-color:hsl(147, 50%, 47%);
	text-align: justify;
	font-style: italic;
	padding: 20px;
	border: 3px black;
	border-right-style: dashed;
	border-top-style: double;
	border-left-style: dotted;
	border-bottom-style: solid;
	width: 500px

  }

span {
	font-style: bold, italic;
	color: rgb(238, 130, 238);
	margin-left: 2px;
	margin-right: 5px;
     }
			

	
	
	
